<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta property="og:url"                content="http://florinionce.github.io" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="My personal &amp; profesional website" />
    <meta property="og:description"        content="How cool do you think I am?" />
    <meta property="og:image"              content="https://upload.wikimedia.org/wikipedia/en/6/63/Feels_good_man.jpg" />

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
